# Context path to install this application on
app.path=/PROM_PREM_Collector

# server website
app.website=APP_WEBSITE_URL

# Tomcat installation directory
catalina.home=CATALINA_HOME

# Manager webapp username and password
manager.username=MANAGER_USERNAME
manager.password=MANAGER_PASSWORD
