# Configuration file for javax.mail
# If a value for an item is not provided, then
# system defaults will be used. These items can
# also be set in code.
mail.smtp.host=PPC_SERVLET_EMAIL_HOST
mail.smtp.port=PPC_SERVLET_EMAIL_PORT
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.transport.protocol=smtp